.tile {
  text-align: center;
  font-size: 60px;
  height: 80px;
  width: 80px;
  border: 1px;
  border-style: solid;
  border-color: black;
}
.full {
  cursor: pointer;
  background-color: white;
}
.empty {
  background-color: white;
}
.selected {
  cursor: pointer;
  background-color: rgb(111, 115, 210);
}
.move {
  cursor: pointer;
  background-color: rgb(157, 172, 255);
}
