.tile {
  text-align: center;
  font-size: 60px;
  cursor: pointer;
  height: 80px;
  width: 80px;
  border: 1px;
  border-style: solid;
  border-color: black;
  background-color: white;
}
.empty {
  height: 80px;
  width: 80px;
  border: 1px;
  border-style: solid;
  border-color: black;
  background-color: lightgrey;
}
