.tile {
  text-align: center;
  font-size: 60px;
  height: 80px;
  width: 80px;
  border: 1px;
  border-style: solid;
  border-color: black;
}
.full {
  cursor: pointer;
}
.empty {
  cursor: default;
}
.selected {
  cursor: pointer;
  background-color: rgb(111, 115, 210);
}
.move {
  cursor: pointer;
  background-color: rgb(157, 172, 255);
}

.light {
  background-color: rgb(204, 183, 174);
}

.dark {
  background-color: rgb(112, 102, 119);
}

